section.slider{
    margin:  0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slider-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 0.5s;
}

.slider-box img {
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid red;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: red;
}

#radio1:checked ~ .nav-auto .auto-btn1{
background-color: red;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: red;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: red;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}



#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

.site {
height: 100%;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.tablink {
    background-color: rgb(248, 245, 245);
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 17px 20px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover{
    background-color: red;
}

.tabcontent {
    color: darkblue;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#principal{background-color:rgb(204, 198, 198);}
#futebol{background-color: aquamarine;}
#basquete{background-color: rgb(201, 79, 8);}
